
.header {
  position: relative;
  z-index: 1;

  &__cta a {
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    font-weight: 700;
    background: var(--color__brand--dark);
    color: var(--color__base);
    border: none;
    display: block;

    &:hover {
      color: var(--color__primary);
      background: var(--color__base);      
    }

    @media (min-width: $break-medium) { 
      padding: 1.5rem 2rem;
      font-size: 1.4rem;
      display: inline-block;
    }
  }

  .list {
    margin-top: 0.25rem;
    display: block;
  }
}

.header--boring,
.header--coming-soon {
  height: 100vh;
  min-height: 810px;
  display: grid;
  grid-template-rows: 2rem 5rem 2rem auto auto auto 10rem;
  grid-template-columns: 5% auto 5% 45%;
  grid-template-areas: 
      "logo logo logo logo"
      "logo logo logo logo"
      ". . . ."
      ". header header header"
      ". header header header"
      ". . . ." 
      "contact contact contact contact"; 

  @media (min-width: $break-medium) { 
    grid-template-rows: 2rem auto 2rem auto auto auto 5rem;
    grid-template-columns: 20% auto 45%;
    grid-template-areas: 
        ". . ."
        "logo logo logo"
        ". header header"
        ". header header"
        ". header header"
        "contact contact contact" 
        ". . ."; 
  }

  @media (min-width: $break-big) { 
    height: 960px;
    grid-template-rows: 5rem 5rem 2rem auto auto auto 5rem;
    grid-template-columns: 5% auto 5% 45%;
    grid-template-areas: 
        ". . . ."
        "logo logo . ."
        ". . header header"
        ". . header header"
        ". . header header"
        "contact contact header header" 
        ". . . ."; 
  }

  @media (min-width: $break-huge) { 
    height: 100vh;
  }

  .header__headline {
    grid-area: header;
    position: relative;
    margin: 0;
  }

  .display {
    text-align: right;
    position: absolute;
    right: 2rem;
    transform: rotate(-10deg);

    color: white;
    font-weight: var(--font__weight--bold);
    line-height: 1.4;
    font-size: calc(1.5rem + 1vw);
    
    .text {
      display: inline !important;
      background-color: var(--color__brand--dark);
    }

    .arrow {
      width: 160px;
    }
  }

  .header__cta {
    padding: 0 2rem;
    grid-area: contact;
    text-align: center;

    @media (min-width: $break-medium) { 
      align-self: end;
      text-align: left;
      padding: 0;
    }
  }

  .header__logo {
    grid-area: logo;
    text-align: center;
    display: flex;
    align-items: center;

    > * {
      flex: 1 0 100%;
    }

    @media (min-width: $break-medium) {
      display: block; 
      text-align: left;
    }

    a,
    a:hover {
      text-decoration: none;
      border: none;
      background: none;
    }

    .image {
      width: 18rem;

      @media (min-width: $break-medium) { 
        width: 20rem;
      }
    }
  }
}

.header--boring {
  height: auto;
  min-height: 700px;
  grid-template-rows: 7rem 3rem auto auto;
  grid-template-columns: auto 50%;
  grid-template-areas: 
      "logo logo"
      ". ."
      "header header"
      ". ."; 

  @media (min-width: $break-medium) { 
    grid-template-rows: 5rem 5rem 2rem auto 5rem;
    grid-template-columns: auto 50%;
    grid-template-areas: 
        " . ."
        "logo ."
        " . ."
        "header header"
        ". ."; 
  }

  .display {
    font-size: 1.5rem;
    line-height: 1.5;
    
    @media (min-width: $break-medium) { 
      font-size: calc(1.4rem + 1vw);
      line-height: 1.4;
    }
  }
}