.text {
  &--small {
    font-size: 0.9em;
  }
  &--xsmall {
    font-size: 0.7em;
  }  
  &--large {
    font-size: 1.2em;
  }   
  &--xlarge {
    font-size: 1.6em;
  }   
  &--uc {
    text-transform: uppercase;
  }
  &--right {
    text-align: right;
  }
  &--center {
    text-align: center;
  }
  &--bold {
    font-family: 'Roboto Slab', Roboto;
    font-weight: var(--font__weight--bold);
  }
  &--color-akzent {
    color: var(--color__brand);
  }
  &--display {
    font-family: 'Roboto Slab', Roboto;
    font-weight: var(--font__weight--bold);
  }
}