:root {
    --color__base: #ffffff;
    --color__base--dark: #ffffff;
    
    --color__primary: #434343;
    --color__primary--light: #434343;

    --color__brand: #ff6600;
    --color__brand--dark: #e75d00;

    --font__weight--bold: 700;
    --font__weight--regular: 400;
    --font__weight--light: 300;
}

$break-small: 480px;
$break-medium: 768px;
$break-big: 1024px;
$break-huge: 1100px;
