
@import "variables";
@import "header";
@import "footer";
@import "base";
@import "list";
@import "layout";
@import "link";
@import "text";

* {
  box-sizing: border-box;
}

.visually-hidden {
  display: none;

  &--md {
    @media (max-width: $break-medium -1) {
      display: none;
    }
  }
  &--xs {
    @media (max-width: $break-small -1) {
      display: none;
    }
  } 
}


